@import "tailwindcss";
@layer base {
  body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: sans-serif "Times New Roman", Times, serif;
  }
}
@utility text-animation {
  @apply text-white hover:text-gray-400  hover:text-[17px] transition-all duration-250;
}
@utility totalheigth {
  min-height: calc(100vh - 100px);
}
  @utility glass-bg{
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
  }